
.toolpanel {
  position: fixed;
  left: 50%;
  bottom: 18px;
  padding-bottom: 8px;
  color: white;
  margin-left: -416px;


  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: default;
  /*background-color: hsl(184, 49%, 7%);*/
}

.toolpanel > div {
  width: 80px;
  margin: 0px;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  border-left: 2px hsl(0, 100%, 50%);
  cursor: pointer;
}

.toolpanel > div:not(:first-child) {
  margin-left: 6px;
}
.toolpanel > div:not(:last-child) {
  margin-right: 6px;
}

.toolpanel > div:not(.selected) {
  box-shadow: 0px 8px hsl(0, 0%, 47%);
  padding: 20px 0px 20px 0px;
  position: relative;
}
.toolpanel > div:not(.selected)::after {
  content: '';
  z-index: 1;
  position: absolute;
  left:0;
  top: 0;
  width: 80px;
  height: 70px;

  /*background-color: hsla(0, 0%, 0%, 0.31);*/
}

.toolpanel > div.selected {
  /*box-shadow: 0px -8px white;*/
  padding: 20px 0px 20px 0px;
  position: relative;
  top: 8px;
}

.toolpanel > #move { color: black; background-color: hsl(44, 87%, 52%); }
.toolpanel > #nothing { color: black; background-color: white; }
.toolpanel > #solid { background-color: hsl(184, 49%, 7%); }
.toolpanel > #positive { background-color: #5ECC5E; }
.toolpanel > #negative { background-color: #D65A2B; }
.toolpanel > #shuttle { background-color: #9429BF; }
.toolpanel > #thinshuttle { color: black; background-color: hsl(283, 89%, 75%); }
.toolpanel > #thinsolid { color: black; background-color: hsl(0, 0%, 71%); }
.toolpanel > #thinbridge { background-color: #2D96D6; }
.toolpanel > #bridge { background-color: hsl(216, 92%, 33%); }
.toolpanel > #buttonup { background-color: rgb(204,123,0); }

